body {
    margin: 0px;
    padding: 0px;
}
html {
    margin: 0px;
    padding: 0px;
}
.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto 45px auto 45px;
}
.block {
    display: flex;
    align-items: center;
    height: 460px;
    width: 300px;
    margin: 10px;
}
#undo-block {
    height: 60px;
    width: 100%;
}
#undo-block  a {
    padding: 5px;
}
img {
    width: 300px;
    margin: auto;
    border-radius: 10px;
}
#undo {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 35px;
    width: 35px;
}